/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* START */

:root {
    --color-primary-green: #596D48;
    --color-input-border: #E5E7EB;
}

body {
  display: flex;
  height: 100vh;
}

header {
  width: 25%;
  background-image: url(./resources/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position-x: center;
}

.logo__container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.logo {
  width: 100px;
}

h1 {
  color: white;
}