@font-face {
  font-family: 'Norse Bold';
  src: url(./resources/Norse-Bold.otf)
  format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* START */

:root {
    --color-primary-green: #596D48;
    --color-input-border: #E5E7EB;
}

body {
  display: flex;
  height: 100vh;
}

header {
  width: 30%;
  background-image: url(./resources/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position-x: center;
}

header h1 {
  font-family: 'Norse Bold';
  font-size: 5.5rem;
  color: white;
}

.logo__container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.logo {
  width: 100px;
}

/* MAIN */

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-input-border);
}

main p:first-child {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.5rem;
}

.form__container {
  background-color: white;
  width: 100%;
}

form {
  align-self: flex-start;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
}

form h4 {
  width: 100%;
  margin: 0 1rem 1rem 0;
  font-size: 1.3rem;
}

fieldset {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}

main p:last-child {
  margin: 1.5rem;
}